<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="card box-shadow">
      <div class="card-body">
        <h4>Payment Successful</h4>
        <p>Total amount: ${{amount_dollars}}</p>
        <p>Payment ID: {{paymentIntentId}}</p>
        <a href="/" class="btn btn-primary mt-20">Return to Shop</a>
      </div>
    </div>
  </div>
</main>